@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;

input:invalid,
textarea:invalid,
select:invalid {
    box-shadow: none;
}

@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
